<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">아직도 시작을 못하고 고민만 하고 계신가요? </h2>
                    <h3 class="section-subheading text-muted">지금이 아니면 계속 고민만 하다 끝날수도 있습니다. 지금당장 ‘1인기업을 위한 ChatGPT 활용 가이드’를 통해 1인 기업 고민을 해결하고 당장 실행에 옮겨 비즈니스를 성장시키세요</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">저의 2년간의 고민과 해결을 담았습니다.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        저는 2년 전에 동료 두 명과 함께 창업을 했습니다. <br>
                                        그리고 첫번째 아이템이 실패했습니다.<br>
                                        그 과정에서 동료들이 떠나버리고 1인기업이 되었습니다.<br>
                                        그렇게 세번의 실패를 더 맛보았지만 저는 멈추지 않았습니다.<br>
                                        그렇게 2년의 고민과 해결의 반복되는 시간이었습니다.<br>
                                        chatGPT를 활용해 더 좋은 답들을 찾아갈 수 있었습니다.<br>
                                        chatGPT를 통해 더 투입되는 시간을 줄일 수도 있었습니다.<br>
                                        그렇게 2년간의 고민과 chatGPT를 통한 해결, 1인기업이라면 꼭 필요한 생산성과 효율화를 이 전자책에 담았습니다.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">저는 AI 엔지니어 였습니다.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        저는 chatGPT 같은 언어모델로 뉴스를 분석하는 업무로 커리어를 시작했습니다.<br>
                                        그리고 발전해온 언어모델들을 여러 영역에서 활용해왔습니다.<br>
                                        그 과정에서 프롬프트에 대한 연구와 응용을 해왔습니다.<br>
                                        그래서 시중의 그 어떤 chatGPT 전자책 저자보다 AI에 대한 이해도가 높습니다.<br>
                                        이 가이드는 단지 어떤 프롬프트를 쓰라고 알려주지 않습니다.<br>
                                        저는 단순히 chatGPT에 넣는 프롬프트를 알려드리고 싶지 않습니다.<br>
                                        프롬프트를 어떻게 생각할 수 있는지 방법을 알려드리고 싶습니다.<br>
                                        단순히 ChatGPT로 자동화를 하는 방법을 알려드리고 싶지 않습니다.<br> 
                                        ChatGPT와 함께 생각을 발전시키고 사업을 성장시키는 방법을 나누고 싶습니다.<br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">이미 많은 사람들이 도움 받았습니다.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        "1인기업을 위한 ChatGPT 활용 가이드"가 전자책으로 <br>나오기 전 이미 많은 사람들이 도움받았던 내용입니다.<br>
                                        이 가이드는 이미 1인기업 모임에서 스터디했던 내용이었습니다. <br>
                                        모임에 참여한 분들은 아무것도 모르는 상태에서 시작해서 <br>성공적으로 1인기업을 운영할 수 있게 되었습니다. <br>
                                        그 중에 가장 성과가 좋은 한 분은 매출이 <br>최대 2배까지 늘어나게 되었습니다.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">2년의 고통을 아껴드리겠습니다.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        저의 지난 2년간의 고민, 여러분도 같은 고통을 느끼게 하고싶진 않습니다. <br>
                                        여러분들은 저처럼 실패하면 안되잖아요. <br>
                                        저처럼 아무것도 모른 상태로 시작하지 않았으면 좋겠습니다. <br>
                                        그래서 ‘인기업을 위한 ChatGPT 활용 가이드’를 쓰게 되었습니다.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="https://tally.so/r/wMDVyk">
                                <div class="timeline-image">
                                    <h4>
                                        1인기업을 위한
                                        <br>ChatGPT 
                                        <br>활용 가이드
                                        <br>바로 구매
                                    </h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>