<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted" style="color:aliceblue;">
                        이제 더 이상 고민하지 마세요. <br><br>
                        '1인기업을 위한 ChatGPT 활용 가이드'를 통해 <br><br>
                        1인 기업의 효율성을 높이고, <br><br>
                        더 많은 시간을 자신의 삶에 활용하세요. <br><br>
                        지금 바로 구매 버튼을 클릭하시고, <br><br>
                        AI가 당신의 1인 기업에 가져다주는 <br><br>
                        혁신적인 변화를 경험해보세요. <br><br>
                        당신의 사업에 더욱 가치를 더해줄 <br><br>
                        '1인기업을 위한 ChatGPT 활용 가이드', <br><br>
                        지금 바로 시작하세요! <br>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="text-center text-muted">
                    <p style="color: aliceblue;">
                        
                    </p>
                    <a class="btn btn-xl">
                        지금 바로 구매
                    </a>
                </div>
            </div>
        </div>
    </section>
