<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">1인 기업을 시작하기가 망설여지시죠?</h2>
                    <h3 class="section-subheading text-muted">가이드를 통해 무엇을 얻을 수 있을까요?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">어떻게 1인기업을 운영할 수 있을까?</h4>
                    <p class="text-muted">아이템 구상, 랜딩페이지, 카피라이팅, 콘텐츠 마케팅, 등등 1인기업을 시작할 때 할 수 있는 많은 고민들을 해결해드리겠습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">전문가들을 고용할 돈이 없어요</h4>
                    <p class="text-muted">그런 직원이 있다고 상상해보세요. 비서도 되었다가 제품기획자도 되었다가 개발자도 되었다가 마케터도 되었다가 그런데 월급은 0원인 그런 직원 말이죠. 어떠신가요 같이 일해보고 싶지 않으신가요?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">일은 많고 시간은 없어요</h4>
                    <p class="text-muted">1인기업은 혼자 모든 것을 해결해야 하기에 늘 시간이 부족합니다. 열심히 하는게 중요한 것이 아니라 일을 효과적으로 줄이는 것이 중요합니다. 지금 업무의 양을 반으로 줄이게 해드리겠습니다.</p>
                </div>
            </div>
            <div class="text-center text-muted">
                <p style="color: aliceblue;">
                    
                </p>
                <a href="https://tally.so/r/wMDVyk" class="btn btn-xl">
                    지금 바로 구매
                </a>
            </div>
        </div>
    </section>